.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #FBF7F4;
  text-align: center;
}

.Box{
  text-align:center;
  color: #6C9A8B;
  width: 50%;
  border: 2px solid #E8998D;
  border-radius: 20px;
  background-color: #EED2CC;
  padding: 10px;
  margin: auto;
}

button{
  text-align:center;
  color: #6C9A8B;
  background-color: #EED2CC;
  width: 20%;
  border: 2px solid #E8998D;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
} 

h2{
  color: #6C9A8B;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Paragraph{
  color: #A1683A;
  margin-left: 10%;
  margin-right: 10%;
}

.Title{
  color: #6C9A8B;
  text-align: center;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

